body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: lightcoral;
    text-align: center;
    margin: 30px;
    border: 2px solid pink;
    padding: 10px;
}

h2 {
    color: lightslategray;
    margin: 30px 0px;
}

img {
    width: 500px;
    height: auto;
}

.container {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}

img.individual-recipe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-recipe {
    font-size: 24px;
    margin: 20px 0px;
}

.back-button {
    background-color: lightpink;
    padding: 5px;
    margin-bottom: 10px;
}

#index-standout {
    color: green;
}
