body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: lightcoral;
    text-align: center;
}

h2 {
    color: lightslategray;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-recipe {
    font-size: 24px;
}

.back-button {
    background-color: lightpink;
}
